* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: bottom;
}

.container {
  width: 300px;
  margin: auto;
}

.wrapper {
  width: 350px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(95px);
  border-radius: 10px;
}

.header {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-weight: bolder;
  color: #3b8acf;
  font-size: 38px;
  margin: 0;
  margin-top: 40px;  
}

.header p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.496);
}

.line {
  margin-top: 40px;
  width: 25px;
  height: 5px;
  border-radius: 25px;
  background-color: #d0e2f0;
}

.flight-position {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  font-weight: normal;
  text-transform: uppercase;
}

.flight-position h2 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.426);
}

.user {
  margin-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user .info {
  margin-top: -10px;
}

.user .info h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15px;
}
